@font-face {
    font-family: 'GabiaHeuldot'; 
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/holymoly-dodary/font/blob/main/GabiaHeuldot/web/GabiaHeuldot.woff2) format("woff2"), 
        url(https://github.com/holymoly-dodary/font/blob/main/GabiaHeuldot/web/GabiaHeuldot.woff) format("woff"),
        url(https://github.com/holymoly-dodary/font/blob/main/GabiaHeuldot/web/GabiaHeuldot.otf) format("opentype");
}
